body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Pretendard-Regular";
  font-weight: normal;
  src: url("./fonts/Pretendard-1.3.9/public/static/Pretendard-Regular.otf") format("woff");
}
.background{
  width: 360px;
  height: 800px;
  background: #FFF;
}

#startbutton{
  display: flex;
  width: 289px;
  height: 23px;
  padding: 12.5px 15.5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--main-color, #FF8058);
}

#startbutton-text{
  color: var(--white, #FFF);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
}

#startbutton-dark{
  display: flex;
  width: 289px;
  height: 23px;
  padding: 12.5px 15.5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--main-color, #DFDFDF);
}

#startbutton-dark-text{
  color: var(--gray_500, #949494);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
}

#onboarding-account-text{
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

#onboarding-login-text{
  color: var(--main-color, #FF8058);
  margin-left : 4px;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

#login-input{
  display: inline-flex;
  padding: 13px 135px 13px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--gray_500, #949494);
}

#login-input::placeholder{
  color: var(--gray_300, #C8C8C8);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  width : 200px;
}

#login-input:focus {
  border-color: #FF8058; 
  outline: none; 
}

#login-text{
  color: var(--gray-1, #292929);

  /* heading 1_bold */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
}

#map-curposintro-text{
  color: var(--gray_700, #555);
  /* body 3_medium */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

#map-curpos-text{
  color: #000;
  /* heading 1_bold */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
}

#button-style{
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-select-card{
  width: 300px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--white, #FFF);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

#map-select-card-text{
  color: var(--gray_900, #121212);
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
}

#map-select-card-theme-text{
  color: var(--main-color, #FF8058);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 150% */
}

#map-select-card-background{
  display: flex;
  padding: 3px 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  background: #FFECE6;
  margin-right : 2px;
}

#map-select-card-small-text{
  color: var(--gray_500, #949494);

/* body 4_medium */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
}

#map-select-card-button{
  display: flex;
height: 20px;
width : 76px;
padding: 10px 20px;
align-items: flex-start;
gap: 10px;
border-radius: 100px;
background: var(--main-color, #FF8058);
}

#map-select-card-button-text{
  color: var(--white, #FFF);
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}

#nav-line{
  width: 319.932px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 5px;
  stroke: var(--gray_50, #F4F4F4);
}

#nav-line-1{
  width: 106.643px;
height: 0px;
flex-shrink: 0;
stroke-width: 5px;
stroke: var(--main-color, #FF8058);
}

#nav-time-text-empha{
  color: #FF6D3F;

/* heading 1_bold */
font-family: Pretendard;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 136.364% */
}

#nav-time-text{
  color: var(--gray-1, #292929);

/* heading 1_bold */
font-family: Pretendard;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 30px;
}

#nav-time-textin{
  position: absolute;
left: 27.5px;
top: 34px;
color: var(--gray_500, #949494);
text-align: center;

/* body 1_medium */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 122.222% */
}

#nav-next-button{
  display: flex;
width: 101px;
height: 23px;
padding: 12.5px 15.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 100px;
background: var(--main-color, #FF8058);
}

#nav-next-button-text{
  color: var(--white, #FFF);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
}
#nav-next-button-not{
  display: flex;
  width: 101px;
  height: 23px;
padding: 12.5px 15.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 100px;
background: var(--gray_100, #E8E8E8);
}

#nav-next-button-not-text{
  color: var(--gray_600, #777);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
}

#nav-time-textin-empha{
  position: absolute;
left: 26.5px;
top: 34px;
color: #FF6D3F;
text-align: center;
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 122.222% */
}

#nav-dest-text-title{
  color: var(--gray_500, #949494);

/* heading 2_semibold */
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 140% */
}

#nav-dest-text-main{
  color: var(--gray_500, #949494);

/* body 3_regular */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

#nav-dest-text-title-empha{
  color: var(--main_text, #FF6D3F);
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 140% */
}

#nav-dest-text-main-empha{
  color: var(--main_text, #FF6D3F);

/* body 3_medium */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}